<!DOCTYPE html>
<html>
	<a href='detail'>Click this link to go to Detail page</a>
<head>
	<meta charset='utf-8'>
	<title>{{title}}</title>
</head>

<body>
	<h1>About me</h1>
	<p>I'm a student who nearly to die</p>
</body>

	{{> footer}}

</html>